---
import { t } from 'i18next';
import SectionContent from '../SectionContent.astro';
import H3 from '../H3.astro';

const items = [
    {
        name: 'MEGA',
        price: '1.56',
        encryption: true,
        plan: 'Pro III annual payment',
        img: 'https://mega.io/wp-content/themes/megapages/megalib/images/megaicon.svg'
    },
    {
        name: 'Dropbox',
        price: '1.56',
        encryption: false,
        plan: ' the Professional annual plan',
        img: 'https://mega.io/wp-content/themes/megapages/megalib/images/dropbox-icon.svg'
    },
    {
        name: 'Google Drive',
        price: '3.70',
        encryption: false,
        plan: '30 TB annual payment',
        img: 'https://mega.io/wp-content/themes/megapages/megalib/images/googledrive-icon.svg'
    },
]
---

<SectionContent className='px-6 xl:px-11 py-20'>
    <H3 className='text-center mb-12'>{t("COMPARE.TITLE")}</H3>
    <div class="flex max-md:flex-col gap-7">
        {
            items.map(item => (
                <div class="flex flex-col gap-y-6 xl:gap-y-10 border-[1px] border-gray-border w-full p-6 md:p-8">
                    <div class="flex flex-col gap-y-5">
                        <div class="size-12 md:size-16">
                            <img class="size-full" src={item.img} alt=`${item.name} logo`>
                        </div>
                        <h3 class="text-main font-poppins text-2xl font-semibold">{item.name}</h3>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <div class="text-main font-poppins font-semibold text-3xl md:text-5xl">€{item.price}*</div>
                        <div class="text-gray-secondary">{t("COMPARE.CONTENT_DIV_1")}</div>
                    </div>
                    <div>
                        <div class="flex items-center gap-x-1 text-main">
                            <i class=`bx bx-${item.encryption ? 'check' : 'x'} text-3xl`></i>
                            <div class="font-inter font-semibold">{t("COMPARE.CONTENT_DIV_2")}</div>
                        </div>
                    </div>
                    <div class="text-gray-secondary font-inter text-sm">
                        <div>* {t("COMPARE.CONTENT_DIV_3")} {item.plan}</div>
                    </div>
                </div>
            ))
        }
    </div>
</SectionContent>